extends layout

block meta
  meta(name="description", content="Official Job Board for Hiring Developers in Ghana")
  meta(name="keywords", content="")
block content
  h1= title
  p Welcome to #{title}
